---

---

<section class="max-w-5xl mx-10 pt-10">
    <a href="/">
        <h1 class="text-5xl font-bold mb-2 text-header-color">Hill People</h1>
        <h2 class="text-xl text-header-color mb-4">
            Evan and Morgan's Notes from along the way.
        </h2>
    </a>
    <hr class="border-gray-300 dark:border-gray-200 mb-4" />
</section>
