---

---

<section class="mx-10 pt-10">
    <a href="/">
        <h1 class="text-5xl font-bold mb-2">Hill People</h1>
        <h2 class="text-xl mb-4">
            Evan and Morgan's Notes from along the way.
        </h2>
    </a>
    <hr class="mb-4" />
    <nav class="flex flex-wrap gap-4 mb-4">
        <a href="/" class="text-lg font-semibold hover:underline">Blog</a>
        <a href="/climbing" class="text-lg font-semibold hover:underline">Climbing</a>
        <a href="/about" class="text-lg font-semibold hover:underline">About</a>
    </nav>
    <hr class="mb-4" />
</section>
