---

---

<section class="mx-10 pt-10">
    <a href="/">
        <h1 class="text-5xl font-bold mb-2">Hill People</h1>
        <h2 class="text-xl mb-4">
            Evan and Morgan's Notes from along the way.
        </h2>
    </a>
    <hr class="mb-4" />
</section>
