---
import "../styles/global.css";
import Favicons from "../components/Favicons.astro";
import Header from "../components/Header.astro";
import GoogleAnalytics from "../components/GoogleAnalytics.astro";
import NewsletterSignup from "../components/NewsletterSignup.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<GoogleAnalytics />
		<Favicons />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>Hill People - {Astro.props.pageTitle}</title>
	</head>
	<body>
		<Header />
		<slot />
		<NewsletterSignup />
	</body>
</html>
